[Desktop Entry]
Name=Search
Comment=Search is file finder app from CoreApps.
Exec=search %F
Icon=/usr/share/coreapps/icons/Search.svg
Type=Application
Categories=Utility;Qt;System;
Terminal=false
StartupNotify=true
